# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
package-lock.json
yarn.lock
.pnpm-debug.log

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.expo-shared/
build/
.cache/
babel.config.js

# React Native specific
ios/Pods/
ios/build/
android/.gradle/
android/app/build/
android/app/src/debug/
android/app/src/main/assets/index.android.bundle
android/app/src/main/assets/index.ios.bundle

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
.env.*
*.log
*.keystore

# typescript
*.tsbuildinfo

app-example


# IDE & Editor
.vscode/
.idea/
*.iml

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
